@charset utf-8

*{
	margin:0px;
	padding:0px;
}
body{
	font: 0.8em Arial,Helvetica,sans-serif;
}

tr{
	text-align: left;
}

.b-table__number{
	background-color:  #e5e5e5;
	padding:5px;
}
.b-table__number em{

}

.b-table td{
	vertical-align:top;
}
.b-acordion{
	float:right;
	width: 12px;
	height: 9px;
	margin:3px 3px;
	background-image: url(../img/arrow_d.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.b-anketa-form__action{
	text-align: center;
	background-color: #ccc;
	padding:5px;
}
.b-anketa-form__action input{
	padding:3px;
	border:1px solid #ccc;
	border-radius: 3px;

}
.b-anketa-form__action input:hover{
	background-color: #fff;
}
.b-anketa-form__submit_button{
	
}
.b-anketa-form__clear_button{
}

.b-table{
	margin:0px auto;
	width:800px;
}
.b-table__question {
	max-width: 200px;
}
.b-table__question p{
	line-height: 1.4em;
}

.b-separator{
	color:#e4e4e4;
	margin:10px 0;
	border-style: solid;
	border-width: 1px 0 0;
}

.wrapper{
	margin:0px auto;
}
.b-table textarea {
	resize:vertical;
	width:97%;
	height: 100px;
	padding:5px;
}
.b-table__single-text{
	max-width: 30%;
}
.b-table__single-text p{
	margin-top:1em;
}
.b-anketa-form__input{
	width:100%;
	border-radius: 2px;
	outline: 0;
	border:0;
	padding-left: .3em;
}
.b-anketa-form__input:focus{
}
.b-anketa-form__input-box{
	border:1px solid;
	border-color: #a3a3a3 #c6c6c6 #e5e5e5;
	padding-right: .3em;
	box-shadow: inset 0 1px 1px #cfcfcf;
	position: relative;
	display: block;
	margin-top:1em;
}
.b-anketa-form__input-error{
	border-color:red;
}
.b-progress-bar{
	width:800px;
}
.b-progress-bar__blank_bar{
     width: 100%;
     height: 5px;
     background:white;
     border:1px solid #e5e5e5;
}

.b-progress-bar__filled_bar{
     width: 0%;
     height: 100%;
     background:lime;
}
.b-progress-bar__text{
	text-align: center;
}
